<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span>Employe</span> {{ employe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ employe.nom }}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ employe.prenom }}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{ employe.adresse }}</span>
                </dd>
                <dt><span>Formation</span></dt>
                <dd>
                    <span *ngFor="let formation of employe.formations; let last = last">
                        <a [routerLink]="['/formation', formation?.id, 'view']">{{ formation.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employe', employe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
